:root {
  --headerHeight: 60px;
  --footerHeight: 60px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

main{
  height: calc(100vh - var(--headerHeight) - var(--footerHeight));
  overflow: auto;
}

